name: Bump-Version

# Run this workflow every time a new commit pushed to your repository
on: workflow_dispatch

jobs:
  # Set the job key. The key is displayed as the job name
  # when a job name is not provided
  bump-version:
    # Name the Job
    name: Bump version
    # Set the type of machine to run on
    runs-on: ubuntu-latest

    steps:
      # Update file contents
      - uses: actions/checkout@v1
      - name: Run a one-line script
        run: sudo ./.github/workflows/bumpversion.sh
      - name: check for changes
        run: git status
      - name: stage changed files
        run: git add .
      - name: commit changed files
        run: git commit -m "Auto updating ProjectVersion"
      - name: fetch from master
        run: git fetch origin master
      - name: push code to master
        run: git push origin HEAD:master